<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog app</title>
 
 <link rel="stylesheet" href="bootstrap.min.css">
 <script src="bootstrap.bundle.min.js"></script>
 <link rel="stylesheet" href="app.css">
</head>
<body>
<!-- navbar -->
<%- include('./component/navbar') %>
<!-- end of navbar -->
<div class="container">
<form action="/add" method="post">
  <label for="title">Article title:</label> <br>
  <input type="text" id="title" name="title" required><br>


  <label for="summary">Article summary:</label> <br>
  <input type="text" id="summary" name="snippt" required> <br>


  <label for="body">Article body:</label><br>
  <textarea id="body" name="body" required></textarea>
  <br>

  <button type="submit" class="btn btn-danger w-25"> Create </button>
</form>
</div>
</body>
</html>